{% extends 'base.html.twig' %}

{% block title %}Modifier une Catégorie de Gâteaux : {{ cake_category.name }}{% endblock %}

{% block body %}
    <a href="{{ path('app_cake_category_default_index') }}">
        {{ ux_icon('icon-park-outline:back', {'class': 'icon'}) }}
        Retour aux catégories
    </a>
    <hr/>

    <h1>Modifier une Catégorie de Gâteaux : {{ cake_category.name }}</h1>
    {% include 'cake_category/partials/_form.html.twig' with {'button_label': 'Modifier'} %}
{% endblock %}
