{% extends 'base.html.twig' %}

{% block title %}New CakeCategory{% endblock %}

{% block body %}
    <h1>Create new CakeCategory</h1>

    {{ include('cake_category/default/_form.html.twig') }}

    <a href="{{ path('app_cake_category_default_index') }}">back to list</a>
{% endblock %}
