{% extends 'base.html.twig' %}

{% block title %}{{ cake.name }}{% endblock %}

{% block body %}
    <h1>{{ cake.name }}</h1>
    <img src="{{ asset('uploads/cake/' ~ cake.image) }}" alt="{{ cake.name }}"/>
{% endblock %}
