body {
    background-color: aliceblue;
}

nav {
    padding: 1rem;
    background-color: bisque;
    border-left: 0.25rem solid black;
    border-bottom: 0.25rem solid black;
    border-radius: 0.25rem;
}

nav a {
    display: inline-block;
    margin: 0 1rem;
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-radius: 0.25rem;
    transition: all 0.5s;
}

nav a:hover,
nav a.active {
    color: white;
    background-color: brown;
}

nav a .icon {
    width: 2rem;
    vertical-align: bottom;
}
