{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert {{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{% if error is defined and error %}
    <div class="alert danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
