<nav>
    <a href="{{ path('app_home') }}"
       {% if app.request.get('_route') == 'app_home' %}class="active"{% endif %}>
        {{ ux_icon('ph:house-line', {'class': 'icon'}) }}
        Accueil
    </a>
    <a href="{{ path('app_contact') }}"
       {% if app.request.get('_route') == 'app_contact' %}class="active"{% endif %}>
        {{ ux_icon('lucide:mail', {'class': 'icon'}) }}
        Contact
    </a>
</nav>
